/*====================
      GENERAL STYLE
  ==================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

/*====================
      NAVBAR STYLE
  ==================== */

nav > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.2rem;
    list-style: none;
    padding: 1rem 1.4rem 1rem 0;
    border: 1px solid;
}
nav > ul a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1rem;
    font-family: arial,sans-serif;
    letter-spacing: 0.3px;
}
.icon {
    font-size: 1.9rem;
    color: #727272;
    padding: 0 0.2rem 0 1rem;
}
img {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    object-fit: cover;
}